# Pandas : Dataset

## Create DataFrames from data structures

In [124]:
import numpy as np
import pandas as pd

data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

dt_from_array = pd.DataFrame(data,columns=['A','B','C'])
print(dt_from_array)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [125]:
data2 = [[1,'Jhon',22],[2,'Marry',33],[3,'Peter',44]]

df_from_list = pd.DataFrame(data2,columns=['ID','Name','Age'])
print(df_from_list)

   ID   Name  Age
0   1   Jhon   22
1   2  Marry   33
2   3  Peter   44

In [126]:
data = [{'ID':1,'Name':'Jhon','Age':22},
        {'ID':2,'Name':'Marry','Age':33},
        {'ID':3,'Name':'Peter','Age':44}]

df_from_dict = pd.DataFrame(data)
print(df_from_dict)

   ID   Name  Age
0   1   Jhon   22
1   2  Marry   33
2   3  Peter   44

In [127]:
data = {'ID':pd.Series([1,2,3]),
        'Name':pd.Series(['Jhon','Marry','Peter']),
        'Age':pd.Series([22,33,44])}


df_from_series= pd.DataFrame(data)
print(df_from_series)

   ID   Name  Age
0   1   Jhon   22
1   2  Marry   33
2   3  Peter   44

## Retail Data

In [128]:
import kagglehub
import shutil
import os

# Descargar la última versión del dataset
path = kagglehub.dataset_download("tunguz/online-retail")

print("Dataset descargado en:", path)

# Obtener la carpeta actual
current_dir = os.getcwd()

# Crear una carpeta destino dentro del directorio actual
dest_dir = os.path.join(current_dir, "online-retail")
os.makedirs(dest_dir, exist_ok=True)

# Copiar los archivos descargados a la carpeta actual
for file_name in os.listdir(path):
    full_file_name = os.path.join(path, file_name)
    if os.path.isfile(full_file_name):
        shutil.copy(full_file_name, dest_dir)

print(f"Archivos copiados a: {dest_dir}")

Dataset descargado en: /home/pinpa/.cache/kagglehub/datasets/tunguz/online-retail/versions/1
Archivos copiados a: /home/pinpa/Documents/programacion/platzi_course/data_manipulate_visualization/numpy_pandas/online-retail

In [129]:
import pandas as pd 

directory = "/home/pinpa/Documents/programacion/platzi_course/data_manipulate_visualization/numpy_pandas/online-retail/Online_Retail.csv"

df = pd.read_csv(directory, encoding='latin1')
print(df.head())

print("Type Dataframe:")
print(type(df))

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom
Type Dataframe:
<class 'pandas.core.frame.DataFrame'>

In [130]:
#Nombres de columnas
columnas_names= df.columns
print(columnas_names)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [131]:
num_rows, num_columns= df.shape
print(f"Numero de filas: {num_rows}")
print(f"Numero de columnas: {num_columns}")

Numero de filas: 541909
Numero de columnas: 8

In [132]:
daily_sales = df['Quantity']
print(daily_sales)

0          6
1          6
2          8
3          6
4          6
          ..
541904    12
541905     6
541906     4
541907     4
541908     3
Name: Quantity, Length: 541909, dtype: int64

In [133]:
summary = df.describe()
print(summary)

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [134]:
mean_value=daily_sales.mean()
median_value=daily_sales.median()
std_deviation=daily_sales.std()
sum_value=daily_sales.sum()
print(f"Mean: {mean_value}")
print(f"Median: {median_value}")
print(f"Standard Deviation: {std_deviation}")
print(f"Sum: {sum_value}")

Mean: 9.55224954743324
Median: 3.0
Standard Deviation: 218.08115784986612
Sum: 5176450

In [135]:
count_values = daily_sales.count()
print(f"Count: {count_values}")

Count: 541909

In [136]:
df.tail(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,12/9/11 12:50,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,12/9/11 12:50,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/11 12:50,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/11 12:50,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,12/9/11 12:50,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/11 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/11 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/11 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/11 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/11 12:50,4.95,12680.0,France

### iloc loc

In [137]:
firts_row = df.iloc[:5]# Access by position
print(firts_row)

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

In [138]:
subset = df.iloc[:3, :2]# Access by position
print(subset)

  InvoiceNo StockCode
0    536365    85123A
1    536365     71053
2    536365    84406B

In [139]:
#Seleccion de filar por loc 
row_index_3 = df.loc[3]
print(row_index_3)# Access by label

InvoiceNo                                   536365
StockCode                                   84029G
Description    KNITTED UNION FLAG HOT WATER BOTTLE
Quantity                                         6
InvoiceDate                           12/1/10 8:26
UnitPrice                                     3.39
CustomerID                                 17850.0
Country                             United Kingdom
Name: 3, dtype: object

In [140]:
row_index_4 = df.loc[0:4]
print(row_index_4)

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

In [141]:
quantiy_column = df.loc[:, 'Quantity']
print(quantiy_column)

0          6
1          6
2          8
3          6
4          6
          ..
541904    12
541905     6
541906     4
541907     4
541908     3
Name: Quantity, Length: 541909, dtype: int64

In [142]:
quantity_column=df.loc[:, ['Quantity','UnitPrice']]
print(quantiy_column)

0          6
1          6
2          8
3          6
4          6
          ..
541904    12
541905     6
541906     4
541907     4
541908     3
Name: Quantity, Length: 541909, dtype: int64

### Datos faltantes

In [143]:
missing_data = df.isna() # Datos faltantes
print(missing_data.head())

   InvoiceNo  StockCode  Description  Quantity  InvoiceDate  UnitPrice  \
0      False      False        False     False        False      False
1      False      False        False     False        False      False
2      False      False        False     False        False      False
3      False      False        False     False        False      False
4      False      False        False     False        False      False

   CustomerID  Country
0       False    False
1       False    False
2       False    False
3       False    False
4       False    False

In [144]:
misssing_count = df.isna().sum() # Conteo de datos faltantes por columna
print('Conteo de datos faltantes por columna:\n', misssing_count)

Conteo de datos faltantes por columna:
 InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [145]:
no_missing_rows = df.dropna() # Eliminar filas con datos faltantes
print('DataFrame sin filas con datos faltantes:\n', no_missing_rows.head())

DataFrame sin filas con datos faltantes:
   InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

In [146]:
no_missing_columns = df.dropna(axis = 1)
print('DataFrame sin columnas con datos faltantes:\n', no_missing_columns.head())

DataFrame sin columnas con datos faltantes:
   InvoiceNo StockCode  Quantity   InvoiceDate  UnitPrice         Country
0    536365    85123A         6  12/1/10 8:26       2.55  United Kingdom
1    536365     71053         6  12/1/10 8:26       3.39  United Kingdom
2    536365    84406B         8  12/1/10 8:26       2.75  United Kingdom
3    536365    84029G         6  12/1/10 8:26       3.39  United Kingdom
4    536365    84029E         6  12/1/10 8:26       3.39  United Kingdom

In [147]:
retail_data_fill=df.fillna(0)
print(retail_data_fill.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

In [148]:
retail_data_zero_count= retail_data_fill.isna().sum()
print(retail_data_zero_count)

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [149]:
mean_unit_price = df['UnitPrice'].mean()
retail_data_mean=df['UnitPrice'].fillna(mean_unit_price)
print(retail_data_mean)

0         2.55
1         3.39
2         2.75
3         3.39
4         3.39
          ...
541904    0.85
541905    2.10
541906    4.15
541907    4.15
541908    4.95
Name: UnitPrice, Length: 541909, dtype: float64

## Manipulacion de columnas

In [150]:
df['TotalPrice']= df['Quantity'] * df['UnitPrice']

print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0  12/1/10 8:26       2.55     17850.0  United Kingdom       15.30
1  12/1/10 8:26       3.39     17850.0  United Kingdom       20.34
2  12/1/10 8:26       2.75     17850.0  United Kingdom       22.00
3  12/1/10 8:26       3.39     17850.0  United Kingdom       20.34
4  12/1/10 8:26       3.39     17850.0  United Kingdom       20.34

In [151]:
df['HighValue']= df['TotalPrice'] >16
print(df['HighValue'].head(15))

0     False
1      True
2      True
3      True
4      True
5     False
6      True
7     False
8     False
9      True
10    False
11    False
12     True
13    False
14     True
Name: HighValue, dtype: bool

In [152]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
 8   TotalPrice   541909 non-null  float64
 9   HighValue    541909 non-null  bool
dtypes: bool(1), float64(3), int64(1), object(5)
memory usage: 37.7+ MB
None

In [153]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
print(df.info())

/tmp/ipykernel_73313/2039505940.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
 8   TotalPrice   541909 non-null  float64
 9   HighValue    541909 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 37.7+ MB
None

In [154]:
df['DiscountedPrice']= df['UnitPrice'].apply(lambda x: x * 0.9)
print(df.head(3))

  InvoiceNo StockCode                         Description  Quantity  \
0    536365    85123A  WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                 WHITE METAL LANTERN         6
2    536365    84406B      CREAM CUPID HEARTS COAT HANGER         8

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00

   HighValue  DiscountedPrice
0      False            2.295
1       True            3.051
2       True            2.475

In [155]:
def categorize_price(price):
    if price > 20:
        return 'High'
    elif price < 10:
        return 'Medium'
    else:
        return 'Low'
    

df['PriceCategory']=df['UnitPrice'].apply(categorize_price)
print(df.head(10))

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
5    536365     22752         SET 7 BABUSHKA NESTING BOXES         2
6    536365     21730    GLASS STAR FROSTED T-LIGHT HOLDER         6
7    536366     22633               HAND WARMER UNION JACK         6
8    536366     22632            HAND WARMER RED POLKA DOT         6
9    536367     84879        ASSORTED COLOUR BIRD ORNAMENT        32

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
5 2010-12-01 08:26:00       7.65     17850.0  United Kingdom       15.30
6 2010-12-01 08:26:00       4.25     17850.0  United Kingdom       25.50
7 2010-12-01 08:28:00       1.85     17850.0  United Kingdom       11.10
8 2010-12-01 08:28:00       1.85     17850.0  United Kingdom       11.10
9 2010-12-01 08:34:00       1.69     13047.0  United Kingdom       54.08

   HighValue  DiscountedPrice PriceCategory
0      False            2.295        Medium
1       True            3.051        Medium
2       True            2.475        Medium
3       True            3.051        Medium
4       True            3.051        Medium
5      False            6.885        Medium
6       True            3.825        Medium
7      False            1.665        Medium
8      False            1.665        Medium
9       True            1.521        Medium

## Groupby

El método **`groupby()`** en **pandas** se utiliza para **agrupar datos** según los valores de una o más columnas, permitiendo aplicar funciones de **agregación** (como suma, promedio, conteo, etc.) a cada grupo.  
Por ejemplo, `df.groupby("Categoria")["Ventas"].sum()` calcula el total de ventas por categoría.  
En resumen, `groupby()` sirve para analizar y resumir grandes conjuntos de datos agrupándolos por criterios comunes.

In [156]:
country_count = df['Country'].value_counts()
print(country_count)

Country
United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: count, dtype: int64

In [157]:
country_group = df.groupby('Country')['Quantity'].sum()
print(country_group)

Country
Australia                 83653
Austria                    4827
Bahrain                     260
Belgium                   23152
Brazil                      356
Canada                     2763
Channel Islands            9479
Cyprus                     6317
Czech Republic              592
Denmark                    8188
EIRE                     142637
European Community          497
Finland                   10666
France                   110480
Germany                  117448
Greece                     1556
Hong Kong                  4769
Iceland                    2458
Israel                     4353
Italy                      7999
Japan                     25218
Lebanon                     386
Lithuania                   652
Malta                       944
Netherlands              200128
Norway                    19247
Poland                     3653
Portugal                  16180
RSA                         352
Saudi Arabia                 75
Singapore                  5234
Spain                     26824
Sweden                    35637
Switzerland               30325
USA                        1034
United Arab Emirates        982
United Kingdom          4263829
Unspecified                3300
Name: Quantity, dtype: int64

In [158]:
country_stats = df.groupby('Country')['UnitPrice'].agg(['mean','sum','max','min'])
print(country_stats)

                            mean          sum       max       min
Country
Australia               3.220612     4054.750    350.00      0.00
Austria                 4.243192     1701.520     40.00      0.12
Bahrain                 4.556316       86.570     12.75      1.25
Belgium                 3.644335     7540.130     39.95      0.12
Brazil                  4.456250      142.600     10.95      0.85
Canada                  6.030331      910.580    550.94      0.10
Channel Islands         4.932124     3738.550    293.00      0.19
Cyprus                  6.302363     3920.070    320.69      0.12
Czech Republic          2.938333       88.150     40.00      0.29
Denmark                 3.256941     1266.950     18.00      0.21
EIRE                    5.911077    48447.190   1917.00      0.00
European Community      4.820492      294.050     18.00      0.55
Finland                 5.448705     3786.850    275.60      0.12
France                  5.028864    43031.990   4161.06      0.00
Germany                 3.966930    37666.000    599.50      0.00
Greece                  4.885548      713.290     50.00      0.14
Hong Kong              42.505208    12241.500   2653.95      0.21
Iceland                 2.644011      481.210     12.75      0.25
Israel                  3.633131     1079.040    125.00      0.06
Italy                   4.831121     3879.390    300.00      0.12
Japan                   2.276145      814.860     45.57      0.21
Lebanon                 5.387556      242.440     14.95      0.55
Lithuania               2.841143       99.440      5.95      1.25
Malta                   5.244173      666.010     65.00      0.19
Netherlands             2.738317     6492.550    206.40      0.00
Norway                  6.012026     6529.060    700.00      0.00
Poland                  4.170880     1422.270     40.00      0.19
Portugal                8.582976    13037.540   1241.98      0.12
RSA                     4.277586      248.100     14.95      0.00
Saudi Arabia            2.411000       24.110      5.49      0.42
Singapore             109.645808    25108.890   3949.32      0.19
Spain                   4.987544    12633.450   1715.85      0.00
Sweden                  3.910887     1806.830     40.00      0.19
Switzerland             3.403442     6813.690     40.00      0.00
USA                     2.216426      644.980     16.95      0.42
United Arab Emirates    3.380735      229.890     37.50      0.29
United Kingdom          4.532422  2245715.474  38970.00 -11062.06
Unspecified             2.699574     1204.010     16.95      0.19

In [159]:
country_stock = df.groupby(['Country','StockCode'])['Quantity'].sum()
print(country_stock)

Country      StockCode
Australia    15036        600
             15056BL        3
             16161P       400
             16169E        25
             20665          6
                         ...
Unspecified  85180A         2
             85180B         1
             85212         12
             85213         12
             85227         10
Name: Quantity, Length: 19839, dtype: int64

In [160]:
def total_revenue(group):
    return (group['Quantity'] * group['UnitPrice']).sum()

revenue_per_country = df.groupby('Country').apply(total_revenue)
print(revenue_per_country)

Country
Australia                137077.270
Austria                   10154.320
Bahrain                     548.400
Belgium                   40910.960
Brazil                     1143.600
Canada                     3666.380
Channel Islands           20086.290
Cyprus                    12946.290
Czech Republic              707.720
Denmark                   18768.140
EIRE                     263276.820
European Community         1291.750
Finland                   22326.740
France                   197403.900
Germany                  221698.210
Greece                     4710.520
Hong Kong                 10117.040
Iceland                    4310.000
Israel                     7907.820
Italy                     16890.510
Japan                     35340.620
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2505.470
Netherlands              284661.540
Norway                    35163.460
Poland                     7213.140
Portugal                  29367.020
RSA                        1002.310
Saudi Arabia                131.170
Singapore                  9120.390
Spain                     54774.580
Sweden                    36595.910
Switzerland               56385.350
USA                        1730.920
United Arab Emirates       1902.280
United Kingdom          8187806.364
Unspecified                4749.790
dtype: float64

/tmp/ipykernel_73313/330303778.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  revenue_per_country = df.groupby('Country').apply(total_revenue)

## Filtrado de Datos

In [161]:
sales_data =pd.read_csv(directory, encoding='latin1')

sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [162]:
sales_data['InvoiceDate']=pd.to_datetime(sales_data['InvoiceDate'])

sales_data.dropna(subset=['CustomerID','InvoiceDate'],inplace=True)

sales_data['TotalPrice']= sales_data['Quantity'] * sales_data['UnitPrice']
print(sales_data.head())

/tmp/ipykernel_73313/2142234749.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  sales_data['InvoiceDate']=pd.to_datetime(sales_data['InvoiceDate'])

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34

In [163]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  datetime64[ns]
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      406829 non-null  object
 8   TotalPrice   406829 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 31.0+ MB

In [164]:
# Filtrar Ventas en UK 

uk_sales = sales_data[sales_data['Country'] == 'United Kingdom']
print(uk_sales.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34

In [165]:
high_quantity_sales = sales_data[sales_data['Quantity'] > 40]
print(high_quantity_sales.head())

   InvoiceNo StockCode                        Description  Quantity  \
31    536370     10002        INFLATABLE POLITICAL GLOBE         48
46    536371     22086    PAPER CHAIN KIT 50'S CHRISTMAS         80
82    536376     22114  HOT WATER BOTTLE TEA AND SYMPATHY        48
83    536376     21733   RED HANGING HEART T-LIGHT HOLDER        64
96    536378     21212    PACK OF 72 RETROSPOT CAKE CASES       120

           InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
31 2010-12-01 08:45:00       0.85     12583.0          France        40.8
46 2010-12-01 09:00:00       2.55     13748.0  United Kingdom       204.0
82 2010-12-01 09:32:00       3.45     15291.0  United Kingdom       165.6
83 2010-12-01 09:32:00       2.55     15291.0  United Kingdom       163.2
96 2010-12-01 09:37:00       0.42     14688.0  United Kingdom        50.4

In [166]:
uk_high = sales_data[(sales_data['Country'] == 'United Kingdom') & (sales_data['Quantity'] > 40)]
print(uk_high)

       InvoiceNo StockCode                          Description  Quantity  \
46        536371     22086      PAPER CHAIN KIT 50'S CHRISTMAS         80
82        536376     22114    HOT WATER BOTTLE TEA AND SYMPATHY        48
83        536376     21733     RED HANGING HEART T-LIGHT HOLDER        64
96        536378     21212      PACK OF 72 RETROSPOT CAKE CASES       120
101       536378    85183B  CHARLIE & LOLA WASTEPAPER BIN FLORA        48
...          ...       ...                                  ...       ...
541746    581571     23167       SMALL CERAMIC TOP STORAGE JAR         96
541747    581571     21314        SMALL GLASS HEART TRINKET POT        48
541751    581572     23328   SET 6 SCHOOL MILK BOTTLES IN CRATE        48
541867    581584     20832     RED FLOCK LOVE HEART PHOTO FRAME        72
541868    581584     85038      6 CHOCOLATE LOVE HEART T-LIGHTS        48

               InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
46     2010-12-01 09:00:00       2.55     13748.0  United Kingdom      204.00
82     2010-12-01 09:32:00       3.45     15291.0  United Kingdom      165.60
83     2010-12-01 09:32:00       2.55     15291.0  United Kingdom      163.20
96     2010-12-01 09:37:00       0.42     14688.0  United Kingdom       50.40
101    2010-12-01 09:37:00       1.25     14688.0  United Kingdom       60.00
...                    ...        ...         ...             ...         ...
541746 2011-12-09 12:00:00       0.69     15311.0  United Kingdom       66.24
541747 2011-12-09 12:00:00       1.85     15311.0  United Kingdom       88.80
541751 2011-12-09 12:08:00       3.39     16705.0  United Kingdom      162.72
541867 2011-12-09 12:25:00       0.72     13777.0  United Kingdom       51.84
541868 2011-12-09 12:25:00       1.85     13777.0  United Kingdom       88.80

[14245 rows x 9 columns]

In [167]:
sales_2011 = sales_data[sales_data['InvoiceDate'].dt.year == 2011]
print(sales_2011)

       InvoiceNo StockCode                      Description  Quantity  \
42481     539993     22386          JUMBO BAG PINK POLKADOT        10
42482     539993     21499               BLUE POLKADOT WRAP        25
42483     539993     21498              RED RETROSPOT WRAP         25
42484     539993     22379         RECYCLING BAG RETROSPOT          5
42485     539993     20718        RED RETROSPOT SHOPPER BAG        10
...          ...       ...                              ...       ...
541904    581587     22613      PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899     CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254    CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255  CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138    BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
42481  2011-01-04 10:00:00       1.95     13313.0  United Kingdom       19.50
42482  2011-01-04 10:00:00       0.42     13313.0  United Kingdom       10.50
42483  2011-01-04 10:00:00       0.42     13313.0  United Kingdom       10.50
42484  2011-01-04 10:00:00       2.10     13313.0  United Kingdom       10.50
42485  2011-01-04 10:00:00       1.25     13313.0  United Kingdom       12.50
...                    ...        ...         ...             ...         ...
541904 2011-12-09 12:50:00       0.85     12680.0          France       10.20
541905 2011-12-09 12:50:00       2.10     12680.0          France       12.60
541906 2011-12-09 12:50:00       4.15     12680.0          France       16.60
541907 2011-12-09 12:50:00       4.15     12680.0          France       16.60
541908 2011-12-09 12:50:00       4.95     12680.0          France       14.85

[379979 rows x 9 columns]

In [168]:
sales_2011_dec = sales_data[(sales_data['InvoiceDate'].dt.year == 2011) & (sales_data['InvoiceDate'].dt.month == 12)]
print(sales_2011_dec)

       InvoiceNo StockCode                         Description  Quantity  \
516384   C579889     23245          SET OF 3 REGENCY CAKE TINS        -8
516385   C579890     84947   ANTIQUE SILVER TEA GLASS ENGRAVED        -1
516386   C579890     23374             RED SPOT PAPER GIFT BAG        -1
516387   C579890     84945  MULTI COLOUR SILVER T-LIGHT HOLDER        -2
516388   C579891     23485       BOTANICAL GARDENS WALL CLOCK         -1
...          ...       ...                                 ...       ...
541904    581587     22613         PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899        CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254       CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255     CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138       BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
516384 2011-12-01 08:12:00       4.15     13853.0  United Kingdom      -33.20
516385 2011-12-01 08:14:00       1.25     15197.0  United Kingdom       -1.25
516386 2011-12-01 08:14:00       0.82     15197.0  United Kingdom       -0.82
516387 2011-12-01 08:14:00       0.85     15197.0  United Kingdom       -1.70
516388 2011-12-01 08:18:00      25.00     13644.0  United Kingdom      -25.00
...                    ...        ...         ...             ...         ...
541904 2011-12-09 12:50:00       0.85     12680.0          France       10.20
541905 2011-12-09 12:50:00       2.10     12680.0          France       12.60
541906 2011-12-09 12:50:00       4.15     12680.0          France       16.60
541907 2011-12-09 12:50:00       4.15     12680.0          France       16.60
541908 2011-12-09 12:50:00       4.95     12680.0          France       14.85

[17661 rows x 9 columns]

## Pivot Tables

Las **Pivot Tables** en **pandas** se crean con el método `pivot_table()` y permiten **resumir, reorganizar y analizar datos** de forma flexible.  
Funcionan como las tablas dinámicas de Excel, ya que pueden agrupar valores, calcular sumas, promedios u otras estadísticas, y mostrar los resultados en una estructura de tabla personalizada.

In [169]:
pivot_table = pd.pivot_table(sales_data, values ='Quantity',index ='Country',columns = 'StockCode',
                             aggfunc='sum')

print(pivot_table)

StockCode             10002  10080  10120  10123C  10124A  10124G  10125  \
Country
Australia               NaN    NaN    NaN     NaN     NaN     NaN    NaN
Austria                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
Bahrain                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
Belgium                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
Brazil                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Canada                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Channel Islands         NaN    NaN    NaN     NaN     NaN     NaN    NaN
Cyprus                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Czech Republic          NaN    NaN    NaN     NaN     NaN     NaN    NaN
Denmark                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
EIRE                   12.0    NaN    NaN     NaN     NaN     NaN    NaN
European Community      NaN    NaN    NaN     NaN     NaN     NaN    NaN
Finland                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
France                372.0    NaN   10.0     NaN     NaN     NaN  470.0
Germany                 1.0    NaN    NaN     NaN     NaN     NaN  120.0
Greece                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Iceland                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
Israel                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Italy                   NaN    NaN    NaN     NaN     NaN     NaN    NaN
Japan                   1.0    NaN    NaN     NaN     NaN     NaN    NaN
Lebanon                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
Lithuania               NaN    NaN    NaN     NaN     NaN     NaN    NaN
Malta                   NaN    NaN    NaN     NaN     NaN     NaN    NaN
Netherlands             NaN    NaN    NaN     NaN     NaN     NaN    NaN
Norway                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Poland                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Portugal                NaN    NaN    NaN     NaN     NaN     NaN    NaN
RSA                     NaN    NaN    NaN     NaN     NaN     NaN    NaN
Saudi Arabia            NaN    NaN    NaN     NaN     NaN     NaN    NaN
Singapore               NaN    NaN    NaN     NaN     NaN     NaN    NaN
Spain                  24.0    NaN    NaN     NaN     NaN     NaN    NaN
Sweden                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Switzerland            12.0    NaN    NaN     NaN     NaN     NaN   20.0
USA                     NaN    NaN    NaN     NaN     NaN     NaN    NaN
United Arab Emirates    NaN    NaN    NaN     NaN     NaN     NaN    NaN
United Kingdom        401.0  291.0  183.0     5.0    16.0    17.0  616.0
Unspecified             NaN    NaN    NaN     NaN     NaN     NaN    NaN

StockCode              10133   10135  11001  ...  90214Y  90214Z  \
Country                                      ...
Australia                NaN     NaN    NaN  ...     NaN     NaN
Austria                  NaN     NaN    NaN  ...     NaN     NaN
Bahrain                  NaN     NaN    NaN  ...     NaN     NaN
Belgium                  NaN     NaN    NaN  ...     NaN     NaN
Brazil                   NaN     NaN    NaN  ...     NaN     NaN
Canada                  40.0    20.0    NaN  ...     NaN     NaN
Channel Islands          NaN     NaN    NaN  ...     NaN     NaN
Cyprus                   NaN     NaN    NaN  ...     NaN     NaN
Czech Republic           NaN     NaN    NaN  ...     NaN     NaN
Denmark                  NaN     NaN    NaN  ...     NaN     NaN
EIRE                    40.0    60.0   48.0  ...     NaN     NaN
European Community       NaN     NaN    NaN  ...     NaN     NaN
Finland                  NaN     NaN    NaN  ...     NaN     NaN
France                   NaN    10.0   16.0  ...     NaN     NaN
Germany                  NaN   200.0   32.0  ...     NaN     NaN
Greece                   NaN     NaN    NaN  ...     NaN     NaN
Iceland                  NaN     NaN    NaN  ...     NaN     NaN
Israel                  20.0     NaN    NaN  ...     NaN     NaN
Italy                    NaN     NaN    NaN  ...     NaN     NaN
Japan                    NaN     NaN    NaN  ...     NaN     NaN
Lebanon                  NaN     NaN    NaN  ...     NaN     NaN
Lithuania                NaN     NaN    NaN  ...     NaN     NaN
Malta                    NaN     NaN    NaN  ...     NaN     NaN
Netherlands              NaN     NaN    NaN  ...     NaN     NaN
Norway                   NaN    10.0   16.0  ...     NaN     NaN
Poland                   NaN     NaN    NaN  ...     NaN     NaN
Portugal                20.0     NaN   16.0  ...     NaN     NaN
RSA                      NaN     NaN    NaN  ...     NaN     NaN
Saudi Arabia             NaN     NaN    NaN  ...     NaN     NaN
Singapore                NaN     NaN    NaN  ...     NaN     NaN
Spain                    NaN     NaN   16.0  ...     NaN     NaN
Sweden                   NaN     NaN    NaN  ...     NaN     NaN
Switzerland             10.0     NaN    NaN  ...     NaN     NaN
USA                      NaN     NaN    NaN  ...     NaN     NaN
United Arab Emirates     NaN     NaN    NaN  ...     NaN     NaN
United Kingdom        2244.0  1637.0  923.0  ...    61.0    12.0
Unspecified              NaN     NaN    NaN  ...     NaN     NaN

StockCode             BANK CHARGES    C2  CRUK       D   DOT       M  PADS  \
Country
Australia                      NaN   NaN   NaN     NaN   NaN     NaN   NaN
Austria                        NaN   NaN   NaN     NaN   NaN     NaN   NaN
Bahrain                        NaN   NaN   NaN     NaN   NaN     NaN   NaN
Belgium                        NaN   NaN   NaN     NaN   NaN     NaN   NaN
Brazil                         NaN   NaN   NaN     NaN   NaN     NaN   NaN
Canada                         NaN   NaN   NaN     NaN   NaN     NaN   NaN
Channel Islands                NaN   3.0   NaN     NaN   NaN     0.0   NaN
Cyprus                         NaN   NaN   NaN     NaN   NaN     0.0   NaN
Czech Republic                 NaN   NaN   NaN     NaN   NaN     NaN   NaN
Denmark                        NaN   NaN   NaN     NaN   NaN     NaN   NaN
EIRE                           NaN  97.0   NaN    -1.0   NaN    -1.0   NaN
European Community             NaN   NaN   NaN     NaN   NaN     NaN   NaN
Finland                        NaN   NaN   NaN     NaN   NaN     2.0   NaN
France                         NaN   3.0   NaN     NaN   NaN   -16.0   NaN
Germany                        NaN   NaN   NaN     NaN   NaN     2.0   NaN
Greece                         NaN   NaN   NaN     NaN   NaN     NaN   NaN
Iceland                        NaN   NaN   NaN     NaN   NaN     NaN   NaN
Israel                         NaN   NaN   NaN     NaN   NaN     NaN   NaN
Italy                          NaN   NaN   NaN    -1.0   NaN    -1.0   NaN
Japan                          NaN   NaN   NaN     NaN   NaN    -3.0   NaN
Lebanon                        NaN   NaN   NaN     NaN   NaN     NaN   NaN
Lithuania                      NaN   NaN   NaN     NaN   NaN     NaN   NaN
Malta                          NaN   NaN   NaN     NaN   NaN     NaN   NaN
Netherlands                    NaN   NaN   NaN    -1.0   NaN  -480.0   NaN
Norway                         NaN   NaN   NaN     NaN   NaN     0.0   NaN
Poland                         NaN   NaN   NaN     NaN   NaN     NaN   NaN
Portugal                       NaN   NaN   NaN     NaN   NaN     1.0   NaN
RSA                            NaN   NaN   NaN     NaN   NaN     1.0   NaN
Saudi Arabia                   NaN   NaN   NaN     NaN   NaN     NaN   NaN
Singapore                      NaN   NaN   NaN     NaN   NaN     0.0   NaN
Spain                          NaN   NaN   NaN     NaN   NaN    -3.0   NaN
Sweden                         NaN   NaN   NaN     NaN   NaN     1.0   NaN
Switzerland                    NaN   NaN   NaN     NaN   NaN     NaN   NaN
USA                            NaN   NaN   NaN     NaN   NaN     NaN   NaN
United Arab Emirates           NaN   NaN   NaN     NaN   NaN     NaN   NaN
United Kingdom                12.0  30.0 -16.0 -1191.0  16.0  3681.0   4.0
Unspecified                    NaN   NaN   NaN     NaN   NaN     NaN   NaN

StockCode               POST
Country
Australia                0.0
Austria                 37.0
Bahrain                  NaN
Belgium                272.0
Brazil                   NaN
Canada                   1.0
Channel Islands          NaN
Cyprus                   1.0
Czech Republic           0.0
Denmark                 41.0
EIRE                     NaN
European Community       9.0
Finland                 89.0
France                 803.0
Germany               1104.0
Greece                   6.0
Iceland                  NaN
Israel                   NaN
Italy                   44.0
Japan                    NaN
Lebanon                  NaN
Lithuania                NaN
Malta                   10.0
Netherlands             99.0
Norway                  57.0
Poland                   9.0
Portugal                97.0
RSA                      NaN
Saudi Arabia             NaN
Singapore                NaN
Spain                  209.0
Sweden                  37.0
Switzerland             97.0
USA                      NaN
United Arab Emirates     1.0
United Kingdom         -21.0
Unspecified              NaN

[37 rows x 3684 columns]

In [170]:
df2 = pd.DataFrame({
    'A': ['foo', 'bar', 'baz'],
    'B': [1, 2, 3],
    'C': [4, 5, 6]
})

print(df2)

     A  B  C
0  foo  1  4
1  bar  2  5
2  baz  3  6

In [171]:
df2_stac=df2.stack()#Apila las columnas en un solo nivel de índice
print(df2_stac)

0  A    foo
   B      1
   C      4
1  A    bar
   B      2
   C      5
2  A    baz
   B      3
   C      6
dtype: object

In [172]:
df_unstack=df2_stac.unstack()#Desapila el nivel de índice a columnas
print(df_unstack)

     A  B  C
0  foo  1  4
1  bar  2  5
2  baz  3  6

## Fusión de DataFrames

En **pandas**, los métodos **`merge()`**, **`concat()`** y **`join()`** se utilizan para **combinar DataFrames**, pero de diferentes maneras:  
- **`merge()`** funciona como las uniones en SQL, combinando DataFrames según una o más columnas clave comunes.  
- **`concat()`** une DataFrames de forma **vertical u horizontal**, apilándolos uno debajo o al lado del otro.  
- **`join()`** combina DataFrames basándose en sus **índices**, facilitando la unión cuando las claves están en el índice y no en las columnas.

In [173]:
# Ejercicios con merge()
df1 = pd.DataFrame({
  'key': ['A', 'B', 'C'],
  'value1': [1,2,3]
})

df2 = pd.DataFrame({
  'key': ['B', 'C', 'D'],
  'value2': [4,5,6]
})

print(df1)
print(df2)

  key  value1
0   A       1
1   B       2
2   C       3
  key  value2
0   B       4
1   C       5
2   D       6

In [174]:
ineer_merged = pd.merge(df1,df2,on='key',how='inner') #Union interna
print(ineer_merged)

  key  value1  value2
0   B       2       4
1   C       3       5

In [175]:
outer_merged = pd.merge(df1,df2,on='key',how='outer')# Unión externa
print(outer_merged)

  key  value1  value2
0   A     1.0     NaN
1   B     2.0     4.0
2   C     3.0     5.0
3   D     NaN     6.0

In [176]:
left_merged = pd.merge(df1,df2,on='key',how='left')# Unión izquierda
print(left_merged)

  key  value1  value2
0   A       1     NaN
1   B       2     4.0
2   C       3     5.0

In [177]:
right_merged = pd.merge(df1,df2,on='key',how='right')# Unión izquierda
print(right_merged)

  key  value1  value2
0   B     2.0       4
1   C     3.0       5
2   D     NaN       6

In [178]:
# Ejercicios con concat()
df3 = pd.DataFrame({
  'A': ['A0', 'A1', 'A2'],
  'B': ['B0', 'B1', 'B2'],
})

df4 = pd.DataFrame({
  'A': ['A3', 'A4', 'A5'],
  'B': ['B3', 'B4', 'B5'],
}) 

print(df3)
print(df4)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
    A   B
0  A3  B3
1  A4  B4
2  A5  B5

In [179]:
vertical_concat = pd.concat([df3,df4], axis=0) # Concatenación vertical
print(vertical_concat)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
0  A3  B3
1  A4  B4
2  A5  B5

In [180]:
horizontal_concat = pd.concat([df3,df4], axis=1) # Concatenación vertical
print(horizontal_concat)

    A   B   A   B
0  A0  B0  A3  B3
1  A1  B1  A4  B4
2  A2  B2  A5  B5

In [181]:

# Ejercicios con join()
df5 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
  }, 
  index = ['K0', 'K1', 'K2']
) 

df6 = pd.DataFrame({
    'C': ['C0', 'C1', 'C2'],
    'D': ['DO', 'D1', 'D2']
  }, 
  index = ['K0', 'K2', 'K3']
)

joined_df = df5.join(df6, how='inner') # Unión interna basada en índices
print(joined_df)

     A   B   C   D
K0  A0  B0  C0  DO
K2  A2  B2  C1  D1

## Hola

In [182]:

directory = "/home/pinpa/Documents/programacion/platzi_course/data_manipulate_visualization/numpy_pandas/online-retail/Online_Retail.csv"

df = pd.read_csv(directory, encoding='latin1')
print(df.head())
df.info()

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [183]:
df['InvoiceDate']= pd.to_datetime (df['InvoiceDate'])
print(df.info())

/tmp/ipykernel_73313/1782028820.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['InvoiceDate']= pd.to_datetime (df['InvoiceDate'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB
None

In [184]:
df.dropna(subset=['InvoiceDate'], inplace = True)

In [185]:
df.set_index('InvoiceDate', inplace=True)

In [186]:
df

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country
InvoiceDate,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...
2011-12-09 12:50:00,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,12680.0,France
2011-12-09 12:50:00,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,12680.0,France
2011-12-09 12:50:00,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,12680.0,France
2011-12-09 12:50:00,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,12680.0,France
2011-12-09 12:50:00,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,12680.0,France

In [187]:
df['Year']=df.index.year
df['Month']=df.index.month
df['Day']=df.index.day
df['Hour']=df.index.hour
print(df['Year'])
print(df.head())

InvoiceDate
2010-12-01 08:26:00    2010
2010-12-01 08:26:00    2010
2010-12-01 08:26:00    2010
2010-12-01 08:26:00    2010
2010-12-01 08:26:00    2010
                       ...
2011-12-09 12:50:00    2011
2011-12-09 12:50:00    2011
2011-12-09 12:50:00    2011
2011-12-09 12:50:00    2011
2011-12-09 12:50:00    2011
Name: Year, Length: 541909, dtype: int32
                    InvoiceNo StockCode                          Description  \
InvoiceDate
2010-12-01 08:26:00    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER
2010-12-01 08:26:00    536365     71053                  WHITE METAL LANTERN
2010-12-01 08:26:00    536365    84406B       CREAM CUPID HEARTS COAT HANGER
2010-12-01 08:26:00    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE
2010-12-01 08:26:00    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.

                     Quantity  UnitPrice  CustomerID         Country  Year  \
InvoiceDate
2010-12-01 08:26:00         6       2.55     17850.0  United Kingdom  2010
2010-12-01 08:26:00         6       3.39     17850.0  United Kingdom  2010
2010-12-01 08:26:00         8       2.75     17850.0  United Kingdom  2010
2010-12-01 08:26:00         6       3.39     17850.0  United Kingdom  2010
2010-12-01 08:26:00         6       3.39     17850.0  United Kingdom  2010

                     Month  Day  Hour
InvoiceDate
2010-12-01 08:26:00     12    1     8
2010-12-01 08:26:00     12    1     8
2010-12-01 08:26:00     12    1     8
2010-12-01 08:26:00     12    1     8
2010-12-01 08:26:00     12    1     8

In [188]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Year,Month,Day,Hour
InvoiceDate,,,,,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010,12,1,8
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010,12,1,8
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010,12,1,8
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,2010,12,1,8
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,2010,12,1,8

In [189]:
df['Weekday']=df.index.weekday
print(df.head())

                    InvoiceNo StockCode                          Description  \
InvoiceDate
2010-12-01 08:26:00    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER
2010-12-01 08:26:00    536365     71053                  WHITE METAL LANTERN
2010-12-01 08:26:00    536365    84406B       CREAM CUPID HEARTS COAT HANGER
2010-12-01 08:26:00    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE
2010-12-01 08:26:00    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.

                     Quantity  UnitPrice  CustomerID         Country  Year  \
InvoiceDate
2010-12-01 08:26:00         6       2.55     17850.0  United Kingdom  2010
2010-12-01 08:26:00         6       3.39     17850.0  United Kingdom  2010
2010-12-01 08:26:00         8       2.75     17850.0  United Kingdom  2010
2010-12-01 08:26:00         6       3.39     17850.0  United Kingdom  2010
2010-12-01 08:26:00         6       3.39     17850.0  United Kingdom  2010

                     Month  Day  Hour  Weekday
InvoiceDate
2010-12-01 08:26:00     12    1     8        2
2010-12-01 08:26:00     12    1     8        2
2010-12-01 08:26:00     12    1     8        2
2010-12-01 08:26:00     12    1     8        2
2010-12-01 08:26:00     12    1     8        2

In [190]:
df_2011 = df.loc['2011']

df_2011.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Year,Month,Day,Hour,Weekday
InvoiceDate,,,,,,,,,,,,
2011-01-04 10:00:00,539993,22386,JUMBO BAG PINK POLKADOT,10,1.95,13313.0,United Kingdom,2011,1,4,10,1
2011-01-04 10:00:00,539993,21499,BLUE POLKADOT WRAP,25,0.42,13313.0,United Kingdom,2011,1,4,10,1
2011-01-04 10:00:00,539993,21498,RED RETROSPOT WRAP,25,0.42,13313.0,United Kingdom,2011,1,4,10,1
2011-01-04 10:00:00,539993,22379,RECYCLING BAG RETROSPOT,5,2.10,13313.0,United Kingdom,2011,1,4,10,1
2011-01-04 10:00:00,539993,20718,RED RETROSPOT SHOPPER BAG,10,1.25,13313.0,United Kingdom,2011,1,4,10,1

In [191]:
df_2011_dec = df_2011.loc['2011-12']
df_2011_dec.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Year,Month,Day,Hour,Weekday
InvoiceDate,,,,,,,,,,,,
2011-12-01 08:12:00,C579889,23245,SET OF 3 REGENCY CAKE TINS,-8,4.15,13853.0,United Kingdom,2011,12,1,8,3
2011-12-01 08:14:00,C579890,84947,ANTIQUE SILVER TEA GLASS ENGRAVED,-1,1.25,15197.0,United Kingdom,2011,12,1,8,3
2011-12-01 08:14:00,C579890,23374,RED SPOT PAPER GIFT BAG,-1,0.82,15197.0,United Kingdom,2011,12,1,8,3
2011-12-01 08:14:00,C579890,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,-2,0.85,15197.0,United Kingdom,2011,12,1,8,3
2011-12-01 08:18:00,C579891,23485,BOTANICAL GARDENS WALL CLOCK,-1,25.00,13644.0,United Kingdom,2011,12,1,8,3

In [192]:
df_dec_range = df.loc['2011-12-01':'2011-12-15']
df_dec_range.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Year,Month,Day,Hour,Weekday
InvoiceDate,,,,,,,,,,,,
2011-12-01 08:12:00,C579889,23245,SET OF 3 REGENCY CAKE TINS,-8,4.15,13853.0,United Kingdom,2011,12,1,8,3
2011-12-01 08:14:00,C579890,84947,ANTIQUE SILVER TEA GLASS ENGRAVED,-1,1.25,15197.0,United Kingdom,2011,12,1,8,3
2011-12-01 08:14:00,C579890,23374,RED SPOT PAPER GIFT BAG,-1,0.82,15197.0,United Kingdom,2011,12,1,8,3
2011-12-01 08:14:00,C579890,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,-2,0.85,15197.0,United Kingdom,2011,12,1,8,3
2011-12-01 08:18:00,C579891,23485,BOTANICAL GARDENS WALL CLOCK,-1,25.00,13644.0,United Kingdom,2011,12,1,8,3

In [193]:
date_range_new = pd.date_range(start='2011-12-01', end='2011-12-15',freq='D')
date_range_new

DatetimeIndex(['2011-12-01', '2011-12-02', '2011-12-03', '2011-12-04',
               '2011-12-05', '2011-12-06', '2011-12-07', '2011-12-08',
               '2011-12-09', '2011-12-10', '2011-12-11', '2011-12-12',
               '2011-12-13', '2011-12-14', '2011-12-15'],
              dtype='datetime64[ns]', freq='D')

In [194]:
df_Date = pd.DataFrame(date_range_new, columns=['Date'])
df_Date

         Date
0  2011-12-01
1  2011-12-02
2  2011-12-03
3  2011-12-04
4  2011-12-05
5  2011-12-06
6  2011-12-07
7  2011-12-08
8  2011-12-09
9  2011-12-10
10 2011-12-11
11 2011-12-12
12 2011-12-13
13 2011-12-14
14 2011-12-15